{% include "base.html" %}
<head>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>


  <form action="/" id="authorForm">
   {{ form.as_p }}
   <input type="submit" value="Submit" />
  </form>


<script>
  $("#authorForm").submit(function(event) {

    /* stop form from submitting normally */
    event.preventDefault(); 

    //this doesn't work :(     
    //var data = JSON.stringify($("#authorForm").serializeArrary());

    //including the doc.get in the JSON.stringify does not work
    var fn = document.getElementById("id_first_name").value;
    var ln = document.getElementById("id_last_name").value;
    var em = document.getElementById("id_email").value;
    
    var data = JSON.stringify({
    "first_name": fn,
    "last_name": ln,
    "email": em,
    });
    
    var jqxhr = $.ajax({
                 url: "/api/author/",
                 type: 'POST',
                 contentType: 'application/json',
                 data: data,
                 dataType: 'json',
                 processData: false 
    })
    
    //debug stuff
    //.success(function() { alert("second success"); })
    .error(function() { alert("error"); })
    //.complete(function() { alert("complete"); });

    // debug
    //jqxhr.complete(function(){ alert("second complete"); });
    //finish
    jqxhr.complete(function(){ alert("success! You will be redirected"); window.location="thanks" });
      }
    );

</script>
</body>
</html>